.sidebar {
  width: 250px;
  height: 100vh;
  background: #1e3a8a;
  color: white;
  padding: 30px 22px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 4px 0 18px rgba(0, 0, 0, 0.25);
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.userInfo {
  text-align: center;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.08);
  padding: 18px 10px;
  border-radius: 12px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  border: 3px solid white;
}

.userInfo strong {
  display: block;
  margin-top: 6px;
  font-size: 18px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 12px 14px;
  border-radius: 10px;
  gap: 12px;
}

.link:hover {
  background: #3749c0;
}

.active {
  background: #293fb5;
}

.icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: #ef4444;
  border: none;
  padding: 14px 20px;

  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

.logout:hover {
  background: #dc2626;
}
