.sidebar {
  width: 220px;
  background: #1e40af;
  color: white;
  padding: 20px;
}

.title {
  font-size: 22px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.link:hover {
  text-decoration: underline;
}
