.sidebar {
  width: 240px;
  height: 100vh;
  background: #1e40af;
  color: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.userInfo {
  text-align: center;
  font-size: 16px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  border: 2px solid white;
}

.userInfo strong {
  display: block;
  margin-top: 5px;
  font-size: 18px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 8px;
  transition: background 0.2s;
  gap: 10px;
}

.link:hover {
  background: #3749c0;
}

.active {
  background: #293fb5;
}

.icon {
  width: 24px;
  height: 24px;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ef4444;
  border: none;
  padding: 12px 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.2s;
}

.logout:hover {
  background: #dc2626;
}
