.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f8ff;
}

.cardContainer {
  background: white;
  padding: 50px 60px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  min-width: 420px;
  border: 1px solid #e2e8ff;
}

.welcome {
  font-size: 22px;
  color: #3749c0;
  font-weight: 600;
  margin-bottom: 8px;
}

.title {
  color: #1e40af;
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  color: #1e40af;
  margin-bottom: 30px;
}

.users {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.userCard {
  background: #eef2ff;
  padding: 25px 20px;
  border-radius: 16px;
  width: 150px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border: 1px solid #cdd6ff;
}

.userCard:hover {
  background: #dbe4ff;
  border: 1px solid #1e40af;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 12px;
  object-fit: cover;
  border: 2px solid #1e40af;
}

.username {
  font-size: 18px;
  font-weight: bold;
  color: #1e40af;
}
