* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f5f8ff;
}
